# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
gait-repeatability.Rproj

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Output files
repeatability_script_pdf.pdf
repeatability_script_html.html

# Data
raw_data
results
